body {
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template:
        "header" 60px
        "main"
        "footer" 1fr
        /1fr;
}

/* --------- header content ---------- */
header {
    grid-area: header;
    display: block;
}

.header-top {
    display: block;
    height: 30px;
}

.header-container {
    display: block;
    height: 60px;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.header-container-width {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 100%;
    display: flex;
    position: relative;
}

.header-log-position {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 5px;
}

.header-logo-img {
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.header-logo-text {
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
}

.header-link {
    display: flex;
    height: 60px;
    align-items: center;
}

.search-logo {
    width: 40px;
    height: 40px;
    padding: 10px 0 0 10px;
}

.header-login-btn {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #3ea8ff;
    border: 2px solid #3ea8ff;
    border-radius: 10px;
    margin-left: 20px;
    height: 35px;
    width: 80px;
    cursor: pointer;
}

.header-center {
    position: sticky;
    top: 0;
    display: none;
    background: #fff;
    border-top: 1px solid #5c93bb2b;
    border-bottom: 1px solid #5c93bb2b;
}

.header-center-width {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.header-center-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.site-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.site-link-logo {
    width: 40px;
    border-radius: 30px;
}

.description-text {
    padding-left: 10px;
}

.heder-bottom {
    height: 280px;
    background-color: #edf2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heder-bottom p {
    display: none;
    font-size: 13px;
}

.header-content-img {
    width: 65px;
    height: 80px;
    display: inline-block;
}

.title {
    font-size: 30px;
    display: inline-block;
}

.content_like {
    display: flex;
    align-items: center;
    width: auto;
}

.content_like span {
    font-size: 14px;
    width: 30px;
}

.header-link-caveat {
    text-align: left;
    cursor: pointer;
    width: 40px;
}

.header-link-caveat summary {
    list-style-type: none;
    position: relative;
}

.header-link-caveat summary img {
    width: 20px;
    height: 30px;
    padding-top: 10px;
}

.speech_bubble_table {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    width: 350px;
    height: 160px;
    padding-top: 15px;
    padding-left: 15px;
}

.speech_bubble_table span {
    font-size: 13px;
    width: auto;
}

.header-link-like {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #edf2f7;
    border: 2px solid #edf2f7;
}

.header-link-like img {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

/* --------- main ---------- */
.main {
    min-height: 100vh;
    background-color: #edf2f7;
}

.main_container {
    display: flex;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    background-color: #edf2f7;
}

/* --------- main content ----------- */
.main_content {
    display: flex;
    justify-content: space-between;
}

/* --------- main content center ---------- */
main p {
    font-size: 15px;
    line-height: 30px;
}

.main_container h1 {
    font-size: 25px;
}

.main_container h2 {
    font-size: 25px;
}

hr {
    border: 0;
    height: 1.5px;
    background-color: #edf2f7;
}

.main_content_center {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.main_content_center_container {
    max-width: 100%;
}

.main_content_top {
    display: flex;
    flex-direction: column;
}

.main_content_width {
    padding: 0 40px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
}

.main-top-icon {
    display: flex;
}

.main_icon_btn {
    text-decoration: none;
    border-radius: 100px;
    width: 75px;
    height: 30px;
    font-size: 12px;
    background-color: #fff;
    border: 1.5px solid #edf2f7;
    margin: 30px 3px 10px 0;
}

.main_icon_btn_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.main_icon_btn img {
    width: 24px;
    height: 24px;
}

.main_icon_btn span {
    width: 22px;
    height: 18px;
    padding-right: 10px;
    padding-top: 4px;
}

.main-content-img {
    display: table;
    max-width: 100%;
    margin: 1.5rem auto;
}

.shortcut_detail {
    font-size: 14px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px -2px #00000026;
    border: 1px solid #5c93bb30;
    cursor: pointer;
    padding: 12px;
}

.shortcut_content {
    font-size: 14px;
    background: #fff;
    border: 1px solid #5c93bb33;
    border-radius: 0 0 5px 5px;
    padding: 12px;
}

.shortcut_content li {
    margin-top: 10px;
}

.external_link {
    color: #0f83fd;
    text-decoration: none;
}

.external_link:hover {
    text-decoration: underline;
}

.github-link {
    font-size: 14px;
    color: #000000d1;
    position: relative;
    top: -30px;
}

.main_icon_github_btn {
    text-decoration: none;
    border-radius: 8px;
    width: 180px;
    height: 38px;
    font-size: 14px;
    background-color: #fff;
    border: 1.5px solid #edf2f7;
    box-shadow: 0 2px 4px -2px #21253840;
    margin: 30px 3px 10px 0;
}

.main_icon_github_link {
    display: flex;
    text-decoration: none;
    color: #000;
}

.main_icon_github_btn img {
    width: 20px;
    height: 20px;
}

.main_icon_github_btn span {
    width: 130px;
    height: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.main-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.main-bottom-link {
    display: flex;
}

.link-like {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #edf2f7;
    border: 2px solid #edf2f7;
}

.link-like img {
    width: 25px;
    height: 25px;
    padding: 5px 0 0 1px;
}

.main-bottom-link span {
    color: #6e7b85;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    font-size: 11px;
    padding: 16px 0 0 10px;
}

.link-caveat {
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.link-caveat summary span {
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.link-caveat summary img {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.speech_bubble {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    display: inline-block;
    padding: 0 50px 0 10px;
    text-align: right;
}

.link-caveat summary {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.link-caveat img {
    width: 22px;
    height: 28px;
}

.dropdown_main_btn {
    background-color: #fff;
    border: 2px solid #edf2f7;
    border-radius: 100px;
    width: 170px;
    height: 45px;
}

.dropdown_main_btn a {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    color: #6e7b85;
    text-decoration: none;
}

.dropdown_main_btn img {
    width: 22px;
    height: 22px;
    padding-left: 5px;
}

.dropdown_main_btn span {
    font-size: 13px;
    color: #93a5b1;
    padding: 2px 0 0 6px;
}

.main_account-info {
    padding: 20px;
}

.main_acccount_links {
    display: flex;
    align-items: center;
}

.main_acccount-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.main_account_links_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.main_acccount-name {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 5px 20px;
}

.main_account-detail-icon {
    display: flex;
    justify-content: space-between;
    width: 145px;
    padding: 0 0 5px 10px;
}

.main_acccount-follow button {
    display: block;
    border-radius: 100px;
    width: 80px;
    height: 30px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #84888b;
}

.main_acccount-follow button a {
    text-decoration: none;
    color: #84888b;
}

.main_github-icon2 {
    display: block;
    width: 20px;
    height: 20px;
}

.main_twitter-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.main_account-description {
    display: block;
    font-size: 14.5px;
    padding: 10px 0 20px 20px;
    color: #84888b;
}

.blank2 {
    margin-top: 35px;
    background-color: #edf2f7;
}

.discussion {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    border-radius: 12px;
}

.discussion img {
    display: table;
    max-width: 300px;
    margin: 1.5rem auto;
}

.discussion-text {
    color: #84888b;
    
}


/* ---------- main content left ----------- */
.left {
    display: block;
    text-align: center;
    background-color: #edf2f7;
    margin-right: 30px;
    max-width: 50px;
    height: 100%;
}

.left-link {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.left-link-like {
    display: flex;
    height: 70px;
    position: relative;
}

.like-button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    padding: 10px;
}

.like-button a {
    font-size: 20px;
    font-weight: bold;
    color: #6e7b85;
    text-decoration: none;
}

.like-button-text {
    position: absolute;
    top: 47px;
    left: 18px;
    font-size: 9px;
    color: #6e7b85;
    padding-top: 10px;
}

.blank {
    margin-top: 25px;
}

.left-link-twitter {
    position: relative;
}

.left-link-twitter-icon {
    width: 27px;
    height: 27px;
}

.left-link-twitter-text {
    position: absolute;
    top: 30px;
    left: 9px;
    font-size: 9px;
    color: #6e7b85;
    padding-top: 10px;
}

.left-link-twitter-text p {
    font-size: 9px;
    font-weight: bold;
    color: #6e7b85;
}

/* ---------- main content right ---------- */
.main_content_right {
    width: 300px;
    padding-left: 30px;
}

.description-table {
    display: block;
    background-color: #fff;
    border-radius: 12px;
    padding: 0 20px;
}

.description-author {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #edf2f7;
}

.description-title {
    display: flex;
    justify-content: center;
}

.description-icon {
    display: block;
    width: 25px;
    height: -27px;
}

.description-icon-size {
    width: 18px;
    height: 18px;
}

.description-label {
    display: block;
    color: #6e7b85;
    font-size: 13px;
    padding-top: 18px;
}

.description-text {
    font-size: 12px;
}

.description-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-account {
    display: flex;
    text-decoration: none;
    color: #000;
}

.description-account img {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 30px;
}

.acccount-logo-width {
    width: 30px;
}

.description-release {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #edf2f7;
}

.description-update {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #edf2f7;
}

.github-icon1 {
    width: 30px;
}

.description-word-count {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.right_under_container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #edf2f7;
}

.account-info {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}

.acccount_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acccount-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.account_links_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
}

.acccount-name {
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 5px 10px;
}

.account-detail-icon {
    display: flex;
    justify-content: space-between;
    width: 145px;
    padding: 0 0 5px 10px;
}

.acccount-follow button {
    display: block;
    border-radius: 100px;
    width: 80px;
    height: 30px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #84888b;
}

.acccount-follow button a {
    text-decoration: none;
    color: #84888b;
}

.github-icon2 {
    display: block;
    width: 20px;
    height: 20px;
}

.twitter-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.account-description {
    display: block;
    font-size: 14.5px;
}

.table-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    font-size: 13px;
    padding: 20px 20px 25px;
    overflow: auto;
}

.table-content-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.table-paragraph {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: left;
}

.line {
    position: relative;
    color: #bddaf9;
    font-weight: bold;
    left: 5px;
}

.table-title {
    display: flex;
    padding: 8px 0 0 0;
}

.table-title span {
    font-size: 16px;
    font-weight: bold;
    color: #bddaf9;
}

.table-title span::before {
    position: relative;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #b0d3f9;
    border: 2px solid #fff;
}

.table-title a {
    text-decoration: none;
    color: #000;
}


/* ------------ footer content ------------- */
footer {
    grid-area: footer;
    background-color: #edf2f7;
    padding-top: 50px;
}

.related-article {
    max-width: 950px;
    padding: 0 40px;
    margin: 0 auto;
}

.related-article-title {
    font-size: 28px;
    font-family: "Inter", "BlinkMacSystemFont", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.related-article-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    max-width: 950px;
}

.related-article-list {
    width: 45%;
    margin: 12px;
}

.list-region {
    display: flex;
}

.list-region a {
    width: 90px;
    height: 90px;
}

.list-region-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
}

.list-region img {
    width: 50px;
    height: 50px;
}

.list-region-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 11px;
    padding-left: 20px;
}

.list-region-content a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.author {
    display: flex;
    text-align: left;
}

.author {
    width: 100%;
    height: 100%;
}

.author a {
    width: 40px;
    height: 40px;
}

.update-info {
    width: 100%;
    padding-top: 7px;
}

.author-icon img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.list-region-content span {
    color: #84888b;
}

.fotter-bottom {
    height: 350px;
    font-size: 15px;
    background-color: #fff;
}

.fotter-bottom-link {
    min-width: 130px;
}

.fotter-bottom-area {
    display: flex;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.fotter-log-position {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 30px 0 0 0;
}

.fotter-bottom-text {
    color: #84888b;
    font-size: 13px;
}

.fotter-nav {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.fotter-nav ul {
    margin: 12px;
}

.fotter-nav li {
    min-width: 50%;
    display: inline-block;
    padding-bottom: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotter_hr {
    position: relative;
    top: 35px;
}

.speech-balloon {
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    line-height: 1.7;
    background-color: #eaf1f7;
    border: 2px solid #eaf1f7;
    border-radius: 10px;
    position: relative;
}

.speech-balloon a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width:1300px) {
    .left {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .header-center {
        display: block;
    }

    .header-center-width {
        max-width: 100%;
    }

    .heder-bottom {
        padding: 5px;
    }

    .heder-bottom p {
        display: block;
    }

    .main_container {
        max-width: 100%;
    }

    .main_content_center_container {
        width: 100%;
    }

    .main_content_right {
        display: none;
    }

    .fotter-bottom-area {
        display: block;
    }
}

@media screen and (max-width:768px) {
    .header-container {
        padding: 0 25px;
    }

    .heder-bottom h1 {
        font-size: 20px;
    }
    
    .main_container {
        padding: 0 25px;
    }

    .main_content_center_container {
        width: 100%;
    }
    
    .fotter-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .fotter-nav ul {
        width: 35%;
        margin: 0;
    }

    .related-article-list-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .related-article-list {
        width: 100%;
    }

}

@media screen and (max-width:576px) {
    .header-container {
        padding: 0 15px;
    }

    .header-container-width {
        padding: 0 20px;
    }

    .main_container {
        padding: 0 20px;
    }

    .main_content {
        margin: 0 -20px;
    }
}